<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="icon" type="image/png" href="/static/img/logo-small.png">
</head>

<body>
    <div id="app"></div>
    <script src="/static/bundle.js"></script>
</body>

</html>