<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div id="app">
        <nav-bar v-on:select-page="selectPage" v-bind="{ currentPageComponent: currentPageComponent }"></nav-bar>
        <component v-bind:is="currentPageComponent"></component>
    </div>

    {% if deploy_environment == "staging" %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% endif %}
    <script src="/static/js/components/dashboard.js"></script>
    <script src="/static/js/components/tweets.js"></script>
    <script src="/static/js/components/settings.js"></script>
    <script src="/static/js/components/tip.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>