<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/img/logo-small.png">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div id="app">
        <nav-bar v-on:select-page="selectPage" v-bind="{
            currentPageComponent: currentPageComponent,
            userScreenName: userScreenName,
            userProfileUrl: userProfileUrl }">
        </nav-bar>
        <component v-on:select-page="selectPage" v-bind:is="currentPageComponent"></component>
    </div>

    <script src="/static/bundle.js"></script>
</body>

</html>