<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body>
    <div id="index">
        <p><img src="/static/img/semiphemeral.png" alt="Semiphemeral" /></p>
        <p><a href="/auth/login">Login with Twitter</a></p>
    </div>
</body>

</html>