<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="icon" type="image/png" href="/static/img/logo-small.png">
</head>

<body>
    <div id="index">
        <p><img src="/static/img/logo.png" alt="Semiphemeral" /></p>
        {% if logged_in %}
        <p><a href="/app">Go to dashboard</a></p>
        {% else %}
        <p><a href="/auth/login">Login with Twitter</a></p>
        {% endif %}
    </div>
</body>

</html>