<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="icon" type="image/png" href="/static/img/logo-small.png">
    <style>
        #index {
            text-align: center;
            font-family: sans;
        }

        #index img {
            width: 200px;
        }

        a:link,
        a:visited {
            text-decoration: none;
            color: #517cfa;
        }
    </style>
</head>

<body>
    <div id="index">
        <p><img src="/static/img/logo.png" alt="Semiphemeral" /></p>
        {% if logged_in %}
        <p><a href="/app">Go to dashboard</a></p>
        {% else %}
        <p><a href="/auth/login">Login with Twitter</a></p>
        {% endif %}
    </div>
</body>

</html>