[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
tweepy = "*"
gino = "*"
aiopg = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.aiohttp-session]
extras = [ "secure",]
