<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Semiphemeral</title>
    <link rel="icon" type="image/png" href="/static/img/logo-small.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin: 0 0 25px;
            padding: 10px;
            font-family: sans-serif;
        }

        header {
            text-align: center;
        }

        header img {
            width: 200px;
            max-width: 100%;
        }

        article {
            max-width: 600px;
            margin: 0 auto;
            line-height: 150%;
        }

        article h1 {
            font-size: 1.3em;
            line-height: 150%;
            color: #333333;
        }

        article h2 {
            font-size: 1.05em;
            line-height: 150%;
            color: #333333;
        }

        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 25px;
            width: 100%;
            overflow: hidden;
            text-align: right;
            font-size: 0.7em;
        }

        footer p {
            margin: 0 10px;
        }

        a:link,
        a:visited {
            text-decoration: none;
            color: #517cfa;
        }
    </style>
</head>

<body>
    <header>
        <p><img src="/static/img/logo.png" alt="Semiphemeral" title="Semiphemeral" /></p>
        {% if logged_in %}
        <p><a href="/dashboard">Go to dashboard</a></p>
        {% else %}
        <p><a href="/auth/login">Login with Twitter</a></p>
        {% endif %}
    </header>
    <article>
        <h1>Automatically delete your old tweets, except for the ones you want to keep</h1>

        <p>Semiphemeral protects your privacy by making it easy for you to automatically delete years of old tweets
            while giving you control over exactly which tweets you want to make sure you keep. <em><a
                    href="https://micahflee.com/2020/09/semiphemeral-automate-deleting-your-old-tweets-likes-and-direct-messages/">Read
                    more</a>.</em></p>

        <h2>How does it work?</h2>

        <p>You can set Semiphemeral to, for example, automatically delete your tweets that are older than 30 days unless
            they have at
            least 10 retweets or at least 20 likes (all these numbers are configurable). You can also:</p>
        <ul>
            <li>Keep all tweets that are <em>part of the same thread</em> as a tweet that meets those RT and like
                thresholds</li>
            <li>Search through all of your tweets and <em>pick which ones to exclude</em> from automatic deletion, so
                that Semiphemeral will never delete them</li>
            <li><em>Unretweet</em> tweets after a number of days</li>
            <li><em>Unlike</em> tweets after a number of days</li>
            <li>Automatically delete your old <em>direct messages</em></li>
        </ul>

        <h2>Semiphemeral is an antifascist service</h2>

        <p>In order to prevent fascists from using this free privacy service,
            Semiphemeral keeps track of Twitter accounts used by prominent racists, misogynists, antisemites,
            homophobes, neo-Nazis, and other fascists.</p>

        <p>If you like tweets posted by these fascist influencer accounts, <a
                href="https://twitter.com/semiphemeral">@semiphemeral</a> will block you and you'll be ineligible to use
            the service until you're unblocked. Unless you're in a habit of regularly liking fascist content on
            Twitter, it's easy to get yourself unblocked and keep using the service.</p>

        <p>Everyone deserves privacy on social media, but not everyone is entitled to get that privacy by using this
            free service.</p>

        <h2>There's also a self-hosted open source version</h2>
        <p>There are two different versions of Semiphemeral. Semiphemeral.com is a hosted service that's easy for anyone
            to use. This is the much simpler option for most people.</p>
        <p>There's also an <a href="https://github.com/micahflee/semiphemeral">open source version</a> that's for
            advanced users who want total control. It requires using the terminal, generating your own Twitter API keys,
            and if you want to automate it, setting up a server with a cron job. But you don't need to give
            Semiphemeral.com any access to your Twitter account, and it has a few more features.</p>
    </article>

    <footer>
        <p><a href="/privacy">Privacy</a></p>
    </footer>
</body>

</html>