body {
    font-family: sans;
}

#app {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    display: block;
}

.nav span.logo img {
    vertical-align: middle;
    border: 0;
}

.nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.nav ul li {
    display: inline-block;
    padding: 3px 10px;
}

.nav ul li button {
    border: 0;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.nav ul li button.active {
    color: #42465d;
    border-bottom: 3px solid #42465d;
}

.nav span.user {
    display: block;
    float: right;
}

.nav span.user img {
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.nav span.user span {
    vertical-align: middle;
    font-size: 0.8em;
}

.nav span.user span a {
    color: #42465d;
    text-decoration: none;
}

.page {
    font-size: 0.9em;
}

.page h1 {
    font-size: 1.2em;
}